<div id="<%= dom_id timeline_point %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= timeline_point.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= timeline_point.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this timeline point", timeline_point, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this timeline point', edit_timeline_point_path(timeline_point), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
